<div class="container">
  <%= form_for @reading_list do |f| %>
      <%= f.label "Name:" %>
      <%= f.text_field :name %>
      <br />
      <%= f.submit value: "#{button_text}", class: "new_button"%>
  <% end %>
</div>
