<nav>
  <h1 class="nav_h1">
    READING LISTS
  </h1>
  <ul>
    <li>
      <a href="/reading_lists/new" class="header">NEW LIST</a>
    </li>
    <li>
      <a href="/books/" class="header">VIEW ALL BOOKS</a>
    </li>
  </ul>
</nav>
<div class="container">
  <% @reading_lists.each do |rl| %>
  <h1>
    <a href="/reading_lists/<%= rl.id %>"><%= rl.name.upcase %></a>
  </h1>
  <span class="delete">
    <%= button_to "Delete", "/reading_lists/#{rl.id}",  method: :delete, data: { confirm: "Are you sure you want to delete this reading list?" } , class: 'x-button' %>
  </span>
  <br />
  <hr>
  <br />
  <% end %>
</div>
