<% @reading_lists.each do |rl| %>
<p>
  <a href="/reading_lists/<%= rl.id %>"><%= rl.name %></a>
  <%= button_to "Delete", "/reading_lists/#{rl.id}",  method: :delete, data: { confirm: "Are you sure you want to delete this reading list?" } , class: 'x-button' %>
</p>
<% end %>
<p>
  <a href="reading_lists/new">Create new reading list</a>
</p>
