/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-image: url(/library_bookshelves.jpg);
  background-repeat: no-repeat;
  margin: 0;
}

.container {
  background-color: #cc9a66;
  opacity: 0.8;
  margin: 50px;
  padding: 20px;
  font-family: Shadows Into Light;
}

nav {
  background-color: #000000;
  margin: 0;
  padding: 30px 0px 10px;
  font-family: Shadows Into Light;
  font-weight: bold;
  color: #cc9a66;
}

a {
  text-decoration: none;
  color: #000000;
}

nav a {
  padding: 10px;
  color: #cc9a66;
  font-size: 24px;
}

nav h1 {
  display: inline;
  padding-right: 45%;
  padding-left: 2%;
  font-size: 48px;
}

.x-button {
  font-family: Shadows Into Light;
  background-color: #000000;
  color: #cc9a66;
  display: inline!important;
  font-size: 24px;
}

.new_button {
  font-family: Shadows Into Light;
  background-color: #000000;
  color: #cc9a66;
  font-size: 24px;
}

form {
  display: inline!important;
  font-size: 24px;
}

.delete {
  float: right;
}

h1 {
  display: inline;
}

h2 {
  margin: 0;
}

.books_h2 {
  display: inline;
}

hr {
  color: #000000;
  background-color: #000000;
  border-color: #000000;
}

.read_status {
  font-style: italic;
}
