<nav>
  <h1>
    BOOKS
  </h1>
  <a href="/books/new">NEW BOOK</a>
  <a href="/reading_lists/">VIEW READING LISTS</a>
</nav>
<div class="container">
  <% @books.each do |b| %>
  <h1>
    <a href="/books/<%= b.id %>"><%= b.title %></a> -
  </h1>
  <h2 class="books_h2">
    <%= b.author %>
  </h2>
  <span class="delete"
    <%= button_to "Delete", "/books/#{b.id}",  method: :delete, data: { confirm: "Are you sure you want to delete this book?" } , class: 'x-button' %>
  </span>
  <br />
  <hr>
  <br />
  <% end %>
</div>
