/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-image: url(/library_bookshelves.jpg);
  background-repeat: repeat-y;
  margin: 0;
}

.container {
  background-color: #cc9a66;
  opacity: 0.8;
  margin: 50px;
  padding: 20px;
  font-family: Shadows Into Light;
}

nav {
  background-color: #000000;
  margin: 0;
  padding-top: 30px;
  font-family: Shadows Into Light;
  font-weight: bold;
  color: #cc9a66;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  float: right;
  list-style-type: none;
  margin-top: 40px;
  font-size: 20px;
}

li {
  display: inline;
  padding-right: 20px;
}

.header {
  color: #cc9a66;
}

.nav_h1 {
  font-size: 48px;
  padding-left: 40px;
}

h1 {
  display: inline;
  font-size: 2em;
}

h2 {
  margin: 0;
}

.x-button {
  font-family: Shadows Into Light;
  background-color: #000000;
  color: #cc9a66;
  display: inline!important;
  font-size: 24px;
}

.new_button {
  font-family: Shadows Into Light;
  background-color: #000000;
  color: #cc9a66;
  font-size: 24px;
  margin-top: 20px;
}

form {
  display: inline!important;
  font-size: 24px;
  font-family: Shadows Into Light;
}

input {
  font-family: Shadows Into Light;
  font-size: 24px;
  display: block;
  margin-bottom: 10px;
}

form input[type="radio"] {
  display: inline-block;
}

label {
  margin: 10px;
}

select {
  font-family: Shadows Into Light;
  font-size: 24px;
  display: block;
  margin-top: 10px;
  width: 237px;
}

.delete {
  float: right;
}

.books_h2 {
  display: inline;
}

hr {
  color: #000000;
  background-color: #000000;
  border-color: #000000;
}

.read_status {
  font-style: italic;
}
